html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.etage-floor {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  align-content: center;
  justify-items: center;
}

.map-img img {
  width: 70vw;
}

.zone {
  position: absolute;
  border: 2px dashed rgba(255, 0, 0, 0.7);
}
.zone:hover {
  background-color: rgba(255, 0, 0, 0.205);
}

.map-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
  top: 0;
  left: 0;
}

#zone-conference {
  left: 0;
  top: 0;
  height: 270px;
  width: 545px;
  justify-items: center;
  align-content: center;
}

#zone-reception {
  bottom: 0;
  left: 0;
  justify-items: center;
  align-content: center;
  height: 550px;
  width: 545px;
}

#zone-serveurs {
  right: 0;
  bottom: 0;
  width: 330px;
  height: 270px;
  justify-items: center;
  align-content: center;
}

#zone-securite {
  right: 0;
  top: 0;
  width: 330px;
  height: 280px;
  justify-items: center;
  align-content: center;
}

#zone-personnel {
  right: 340px;
  top: 0;
  width: 310px;
  height: 280px;
  justify-items: center;
  align-content: center;
}

#zone-archives {
  right: 340px;
  bottom: 0;
  width: 310px;
  height: 280px;
  justify-items: center;
  align-content: center;
}
