html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.etage-floor {
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  align-content: center;
  justify-items: center;
}

.map-img img {
  width: 70vw;
}

.zone {
  position: absolute;
  border: 2px dashed rgba(255, 0, 0, 0.7);
}
.zone:hover {
  background-color: rgba(255, 0, 0, 0.205);
}

.map-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#zone-conference {
  left: 0;
  top: 0;
  justify-items: center;
  align-content: center;
  height: 13vw;
  width: 27vw;
}

#zone-reception {
  bottom: 0;
  left: 0;
  justify-items: center;
  align-content: center;
  height: 26.5vw;
  width: 27vw;
}

#zone-serveurs {
  right: 0;
  bottom: 0;
  justify-items: center;
  align-content: center;
  height: 13.5vw;
  width: 16vw;
}

#zone-securite {
  right: 0;
  top: 0;
  justify-items: center;
  align-content: center;
  height: 13.5vw;
  width: 16vw;
}

#zone-personnel {
  right: 16vw;
  bottom: 0;
  justify-items: center;
  align-content: center;
  height: 13.5vw;
  width: 16vw;
}

#zone-archives {
  right: 16vw;
  top: 0;
  justify-items: center;
  align-content: center;
  height: 13.5vw;
  width: 16vw;
}

#img-mobile {
  display: none;
}
@media (min-width: 345px) and (max-width: 1023px) {
  #img-desktop {
    display: none !important;
  }
  #img-mobile {
    display: block;
    width: 100vw;
    height: auto;
  }

  .etage-floor {
    padding: 10px 0;
    min-height: auto;
    align-content: start;
  }
  .map-img {
    max-width: 95%;
    margin: 0 auto;
    height: auto;
  }

  .zone {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  #zone-conference {
    top: 0%;
    right: 0%;
    height: 63vw;
    width: 32vw;
    left: unset;
  }

  #zone-reception {
    top: 0%;
    left: 0%;
    height: 63vw;
    width: 65vw;
  }

  #zone-securite {
    top: unset;
    bottom: 0%;
    right: 0%;
    height: 38vw;
    width: 33vw;
  }

  #zone-serveurs {
    top: unset;
    bottom: 0%;
    left: 0%;
    height: 37vw;
    width: 32vw;
    right: unset;
  }

  #zone-personnel {
    right: unset;
    bottom: 37vw;
    left: 0%;
    height: 37vw;
    width: 32vw;
  }

  #zone-archives {
    top: unset;
    bottom: 39vw;
    right: 0%;
    height: 36vw;
    width: 33vw;
    left: unset;
  }
}
